[submodule "AFNetworking"]
	path = AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "objc-TimesSquare"]
	path = objc-TimesSquare
	url = git://github.com/square/objc-TimesSquare.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = git://github.com/rs/SDWebImage.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
