<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>first_name</key>
		<string>Tobias</string>
		<key>last_name</key>
		<string>Penno</string>
		<key>photo_path</key>
		<string>https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/1208939_10201974886996628_1923069343_n.jpg</string>
		<key>position</key>
		<string>President</string>
		<key>email</key>
		<string>president@uec.org.au</string>
		<key>subcommittee</key>
		<string>Executive</string>
		<key>summary</key>
		<string>He is the president.</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>Lachlan</string>
		<key>last_name</key>
		<string>Astfalck</string>
		<key>photo_path</key>
		<string>https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-prn2/9093_10200557435433059_1251846516_n.jpg</string>
		<key>position</key>
		<string>VP Scoial</string>
		<key>email</key>
		<string>social@uec.org.au</string>
		<key>subcommittee</key>
		<string>Executive</string>
		<key>summary</key>
		<string>He is not the president... anymore</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>Tom</string>
		<key>last_name</key>
		<string>Henderson</string>
		<key>photo_path</key>
		<string>https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn2/1240249_10151602083627522_407433575_n.jpg</string>
		<key>position</key>
		<string>Motorsport Slave</string>
		<key>email</key>
		<string>blah@uec.org.au</string>
		<key>subcommittee</key>
		<string>Education</string>
		<key>summary</key>
		<string>Motor sport bitch. And now Guild hack. We still love him though. Even though he likes politics, poor guy. </string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>Matthew</string>
		<key>last_name</key>
		<string>Fraser</string>
		<key>photo_path</key>
		<string>https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/1235271_10152486060545288_10781906_n.jpg</string>
		<key>position</key>
		<string>Thebse</string>
		<key>email</key>
		<string>thebse@uec.org.au</string>
		<key>subcommittee</key>
		<string>Thebse</string>
		<key>summary</key>
		<string>phantoms this way.</string>
		<key>id</key>
		<string>4</string>
	</dict>
</array>
</plist>
