<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>2012 Bend</string>
		<key>file_address</key>
		<string>https://developer.apple.com/in-app-purchase/In-App-Purchase-Guidelines.pdf</string>
		<key>size</key>
		<integer>88910</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>title</key>
		<string>2011 Bend</string>
		<key>file_address</key>
		<string>https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/PassKit_PG/PassKit_PG.pdf</string>
		<key>size</key>
		<integer>739160</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>2010 Bend</string>
		<key>file_address</key>
		<string>https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/MobileHIG.pdf</string>
		<key>size</key>
		<integer>27580000</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>title</key>
		<string>2009 Bend</string>
		<key>file_address</key>
		<string>https://developer.apple.com/library/ios/documentation/LanguagesUtilities/Conceptual/iTunesConnect_Guide/iTunesConnect_Guide.pdf</string>
		<key>size</key>
		<integer>17930000</integer>
	</dict>
</array>
</plist>
