<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>http://student.mech.uwa.edu.au/~uwaye/docs/Constitution.pdf</string>
	<key>last_update</key>
	<date>2013-02-24T07:16:51Z</date>
</dict>
</plist>
